﻿@model BigData_Edu.Models.Pair

@{
    Layout = null;
}

<table class="data-table details-1">
    <tr class="data-table-header">
        <th>@Model.N1</th>
        <th>@Model.N2</th>
        <th>Метрика</th>
    </tr>
    @{ var flag = true;}
    @foreach (var point in @Model.Points.P0)
    {
        <tr>
            <td class="map-bkcolor-green">@point.M1</td>
            <td class="map-bkcolor-green">@point.M2</td>
            @if (flag)
            {
                <td class="map-bkcolor-green" rowspan="@Model.Points.P0.Count">@Model.Metrica</td>
                { flag = false;}
            }
        </tr>
    }

    @{flag = true;}
    @foreach (var point in @Model.Points.P1)
    {

        <tr>
            <td class="map-bkcolor-blue">@point.Number</td>
            <td>&nbsp;</td>
            @if (flag)
            {
                <td class="map-bkcolor-blue" rowspan="@Model.Points.P1.Count">0</td>
                { flag = false; }
            }
        </tr>
    }

    @{flag = true;}
    @foreach (var point in @Model.Points.P2)
    {

        <tr>
            <td>&nbsp;</td>
            <td class="map-bkcolor-red">@point.Number</td>
            @if (flag)
            {
                <td class="map-bkcolor-red" rowspan="@Model.Points.P2.Count">0</td>
                { flag = false; }
            }
        </tr>
    }
</table>
