﻿@model BigData_Edu.Models.FindPairs

@section LeftMenu {
    <table class="data-table fact-list">
        <tr class="data-table-header">
            <th>Номер1</th>
            <th>Номер2</th>
            <th>Метрика</th>
            <th>Факт</th>
        </tr>
        @foreach (var pair in Model.Result)
        {
            <tr>
                @if (@pair.Items.Count > 1)
                {
                    <td rowspan="@(pair.Items.Count+1)">@pair.N1</td>
                }
                else
                {
                    <td>@pair.N1</td>
                    <td onclick="@GetScript(pair.N1, pair.Items[0].N2)">@pair.Items[0].N2</td>
                    <td>@pair.Items[0].M</td>
                    <td class="@GetHasFactClass(@pair.Items[0].HasFact)">@pair.Items[0].HasFact</td>
                }
            </tr>
            if (@pair.Items.Count > 1)
            {
                foreach (var pairItem in pair.Items)
                {
                    <tr>
                        <td onclick="@GetScript(pair.N1, pairItem.N2)">@pairItem.N2</td>
                        <td>@pairItem.M</td>
                        <td class="@GetHasFactClass(@pairItem.HasFact)">@pairItem.HasFact</td>
                    </tr>
                }
            }
        }
    </table>
}

@helper GetScript(long N1, long N2)
{
    var urlDetails = @Url.Action("Details", "Home");
    var urlMap = @Url.Action("Map", "Home");
    var script = string.Format("eartemyev.bigData.selectRow(this); eartemyev.bigData.showDetails('{2}', {0}, {1}); eartemyev.bigData.showMap('{3}', {0}, {1});", N1, N2, urlDetails, urlMap);
    <text>@(script)</text>
}

@functions
{
    string GetHasFactClass(bool hasFact)
    {
        return hasFact ? "HasFact" : "";
    }
}
