﻿@using BigData_Edu.Models
@model PairData

@section LeftMenu {
    <table class="data-table fact-list">
        <tr class="data-table-header" >
            <th>№</th>
            <th>Номер1</th>
            <th>Номер2</th>
            <th>Метрика</th>
        </tr>
        @foreach (var pair in Model.Result)
        {
            <tr onclick="@GetScript(pair)">
                <td>@pair.RowNumber</td>
                <td>@pair.N1</td>
                <td>@pair.N2</td>
                <td style="background-color: @GetColor(pair.Metrica);">@pair.Metrica</td>
            </tr>
        }
    </table>
}
@section Details {
    @*
    select Name, Good, Total, Good/Total*100 [Percent]
    from
    (
          select 'Факты ДА' Name,
            cast((select count(*) from [dbo].[View.Metrica.Yes]  where [Metrica] > 0) as float) good,
            cast((select count(*) from [dbo].[View.Metrica.Yes]) as float) total
      union
          select 'Факты НЕТ' Name,
            cast((select count(*) from [dbo].[View.Metrica.No]  where [Metrica]>0) as float) good,
            cast((select count(*) from [dbo].[View.Metrica.No]) as float) total
      union
          select 'Поиск Пар' Name,
            cast((select count(*) from [dbo].[View.Metrica.Calc]  where HasFact=1) as float) good,
            cast((select count(*) from [dbo].[View.Metrica.Calc]) as float) total
    )t
    *@
    <table class="data-table data-table-2"
            style=" ">
        <tr>
            <th>Name</th>
            <th>Good</th>
            <th>Total</th>
            <th>Percent</th>
        </tr>
        <tr>
            <td>Факты ДА</td>
            <td>98</td>
            <td>122</td>
            <td>80,33%</td>
        </tr>
        <tr>
            <td>Факты НЕТ</td>
            <td>5</td>
            <td>1000</td>
            <td>0,5%</td>
        </tr>
        <tr>
            <td>Поиск Пар</td>
            <td>56</td>
            <td>348</td>
            <td>16,01%</td>
        </tr>
    </table>
}

@helper GetColor(double m)
{
    var metrica = Convert.ToInt32(m);
    if (metrica == 0)
    {
        <text>#ffc0c0</text>
    }
    if (metrica > 191)
    {
        <text>#1dFF1d</text>
    }
    if (metrica > 0 && metrica < 192)
    {
        var text = Convert.ToInt32(220 - metrica).ToString("X2");
        <text>#@(text)FF@(text)</text>
    }
}
@helper GetScript(BigData_Edu.Models.Pair pair)
{
    var urlDetails = @Url.Action("Details", "Home");
    var urlMap = @Url.Action("Map", "Home");
    var script = string.Format("eartemyev.bigData.selectRow(this); eartemyev.bigData.showDetails('{2}', {0}, {1}); eartemyev.bigData.showMap('{3}', {0}, {1});", pair.N1, pair.N2, urlDetails, urlMap);
    <text>@(script)</text>
}
