﻿@using System.Globalization
@model BigData_Edu.Models.Pair

@{
    Layout = null;
    var divId = "x" + Guid.NewGuid().ToString("N");
}
<div id="@divId" class="dock-fill">

</div>
<script type="text/javascript">
    function init() {
        var myMap = new ymaps.Map("@divId", {
            center: [55.76, 37.64],
            zoom: 10
        });
        var myCollection = new ymaps.GeoObjectCollection();

        @foreach (var point in @Model.Points.P1)
        {
            @Point("blueStretchyIcon", point)
        }
        @foreach (var point in @Model.Points.P2)
        {
            @Point("redStretchyIcon", point)
        }
        @foreach (var point in @Model.Points.P0)
        {
            @Point("greenStretchyIcon", point)
        }
        myMap.geoObjects.add(myCollection);
        myMap.setBounds(myCollection.getBounds());
    }
    ymaps.ready(init);
</script>

@helper Point(string color, BigData_Edu.Models.Point point)
{
    <text>
        myCollection.add(
            new ymaps.Placemark(
                [ @point.Lat.ToString("0.000000", CultureInfo.InvariantCulture), @point.Long.ToString("0.000000", CultureInfo.InvariantCulture) ]
                , { iconContent: '@point.Number'}
                , { preset: 'islands#@color' }
            )
        );
    </text>
}
