﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html class="layout-panel dock-fill">
<head>
    <title>Test</title>
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
</head>
<body class="layout-panel dock-fill" style="margin: 4px;">
    <div class="layout-panel dock-frame" style="left: 0; right:0; top: 0; height: 50px;">
    </div>
    <div id="details" class="layout-panel dock-frame" style="left: 0; right: 0; top: 60px; bottom: 0; overflow: auto;">
        <div class="layout-panel dock-frame" style="left: 0; width: 100px; top: 0; bottom: 0;">

        </div>
    </div>
</body>
</html>