﻿* {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.layout-panel {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}
.dock-frame {
    border: 2px solid gray;   
}
.dock-fill {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


.map-bkcolor-blue {
    background-color: #1E98FF;
}
.map-bkcolor-green {
    background-color: #A0EB94;
}
.map-bkcolor-red {
    background-color:  #ED4543;
}

.data-table {
    margin: 5px;
    border-collapse: separate; 
}
.data-table .data-table-header {
    background-color: #c0c0c0;
    cursor: default;
}
.data-table td {
    padding: 2px; text-align: center; 
}

.details-1 td, .details-2 td {
    color: white;
}
.fact-list td {
    background-color: #e0e0e0;
    border: 2px solid #e0e0e0;
    cursor: pointer;
}
.fact-list td:hover {
    background-color: #a0a0a0;
}

.fact-list .fact-list-active td {
    border: 2px solid blue;
}

.data-table-2,
.data-table-2 td,
.data-table-2 th
{
    border : 1px solid lightgray;
}

/***************************************************/
.menu-top {
    /*background-color: orange;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-top ul {
    margin: 0 12px 0 12px;
    padding: 0;
    overflow: hidden;
}
.menu-top li {
    float: left;
    display: list-item;
    list-style: none;
    line-height: 20px;
}
.menu-top li a {
    font-weight: bold;
    float: none;
    padding: 8px 15px 8px;
    display: block;
    border-right: 2px solid gray;   
}
.menu-top li.active a {
    background-color: #ffe2ae;
    color: black;
}
.menu-top li:hover a {
    background-color: #fff9ec;
    color: black;
}
/***************************************************/
td.HasFact {
    background-color: #A0EB94 !important;
}