﻿<!DOCTYPE html>
<html class="layout-panel dock-fill">
<head>
    <title>@ViewBag.Title</title>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"   type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>

    <script src="~/Content/Scripts/myApp1.js" type="text/javascript"></script>
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
</head>
<body class="layout-panel dock-fill" style="margin: 4px;">
    <div class="layout-panel dock-frame" style="left: 0; right: 0; top: 0; height: 36px;">
        @{ Html.RenderPartial("_TopMenu", ViewBag.LeftMenu as object); }
    </div>
    <div class="layout-panel" style="left: 0; right: 0; top: 46px; bottom: 0;">
        <div class="layout-panel dock-frame" style="left: 0; width: 340px; top: 0; bottom: 0; overflow: auto;">
            @RenderSection("LeftMenu", false)
        </div>
        <div id="details" class="layout-panel dock-frame" style="left: 350px; width: 300px; top: 0; bottom: 0; overflow: auto;">
            @RenderSection("Details", false)
        </div>
        <div id="map" class="layout-panel dock-frame" style="left: 660px; right: 0; top: 0; bottom: 0;">
            @RenderBody()
        </div>
    </div>
</body>

</html>