﻿@model object
<ul class="menu-top">
    <li class="@IsActive(Model, "0")">
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="@IsActive(Model, "1")">
        <a href="@Url.Action("FactsYes", "Home")">Факты ДА</a>
    </li>
    <li class="@IsActive(Model, "2")">
        <a href="@Url.Action("FactsNo", "Home")">Факты НЕТ</a>
    </li>
    <li class="@IsActive(Model, "3")">
        <a href="@Url.Action("FindPairs", "Home")">Поиск пары</a>
    </li>
</ul>
@functions
{
    string IsActive(object input1, string input2)
    {
        return (input1 as string == input2) ? "active" : "";
    }
}